{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search - {{ query }}
{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    {% if entries %}
        <p>Found {{ entries|length }} entries containing "{{ query }}":</p>
        <ul>
            {% for entry in entries %}
                <li><a href="{% url 'entry' entry %}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No entries found containing "{{ query }}".</p>
    {% endif %}
{% endblock %}